/*Estilos del header*/

#header_principal {
	background: #192a56;
}

#header_principal nav {
	padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
	text-align: center;
}

#header_principal nav a {
    color: white;
    font-family: 'Iceland', cursive;
    font-size: 35px;
    text-decoration: none;
}

/*Imagen del banner*/
#img_banner {
	width: 100%;
	height: 700px;
	background-image: url("../img/everest.jpg"); 
	background-size: cover; 
	background-position: center;
}

/*Div que contiene los datos personales de cada integrante*/
.contenedor_perfil{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    width: 90%;
    height: 370px;
    margin: auto;
}

/*Margen entre el primer perfil y el banner*/

#primer_perfil {
    margin-top: 50px;
}

/*Estilos de perfiles con la foto en la izquierda*/

.img_foto_perfil_izq{
    float: left;
    width: 23%;
    height: 90%;
    margin-left: 20%;
    margin-right: 7%;
    margin-top: 15px;
    border-radius: 8px;
}


.datos_personales_izq {
    margin-top: 30px;
    float: left;
}

.rol_izq {
    font-size: 60px;
    font-family: 'Iceland', cursive;
    color: #192a56;
    padding: 5px;
    margin-left: -50px;
    list-style-type: none; 
}

.fortalezas_izq {
    margin-top: 20px;
    float: left;
    font-size: 20px;
}

.debilidades_izq {
    margin-top: 20px;
    float: right;
    font-size: 20px;
    margin-left: 40px;
}

.caracteristicas_izq {
    font-family: 'Iceland', cursive;
    font-size: 40px;
    color: #192a56;
    padding: 5px;
    list-style-type: none;
    margin-left: -25px;
}

/*Estilos de perfiles con la foto en la derecha */

.img_foto_perfil_der{
    float: right;
    width: 23%;
    height: 90%;
    margin-right: 22%;
    margin-top: 15px;
    border-radius: 8px;
}

.datos_personales_der {
    margin-top: 30px;
    margin-left: 22%;
    width: 50%;
}

.rol_der {
    font-size: 60px;
    font-family: 'Iceland', cursive;
    color: #192a56;
    padding: 5px;
    margin-left: -50px;
    list-style-type: none; 
}

.fortalezas_der {
    margin-top: 20px;
    float: left;
    font-size: 20px;
}

.debilidades_der {
    margin-top: 20px;
    float: right;
    font-size: 20px;
    margin-right: 15%;
}

.caracteristicas_der {
    font-family: 'Iceland', cursive;
    font-size: 40px;
    color: #192a56;
    list-style-type: none;
    margin-left: -20px;
}

/*Estilos listas de caracteristicas de cada integrante*/
li {
    display: list-item;
    margin-left: 10px;
    list-style-type: circle;
}

/*Estilos divisor hr */
.divisor {
    border: 2px solid  #192a56;
    width: 60%;
}


