
#header_principal {
	background: #192a56;
}

#header_principal nav {
	padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
	text-align: center;
}

#header_principal nav a {
    color: white;
    font-family: 'Iceland', cursive;
    font-size: 35px;
    text-decoration: none;
}

#img_banner {
	width: 100%;
	height: 700px;
	background-image: url("../img/everest.jpg"); 
	background-size: cover; 
	background-position: center;
}

.contenedor_perfil{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    width: 90%;
    height: 400px;
    margin: auto;
    
}

#primer_perfil {
    margin-top: 50px;
}

.img_foto_perfil_izq{
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 300px;
    margin-right: 150px;
    margin-top: 15px;
    border-radius: 8px;
}


.datos_personales_izq {
    margin-top: 30px;
    float: left;
}

.img_foto_perfil_der{
    float: right;
    width: 300px;
    height: 300px;
    margin-right: 320px;
    margin-top: 15px;
    border-radius: 8px;
}

.datos_personales_der {
    margin-top: 30px;
    float: left;
    margin-left: 350px;
}

.rol {
    font-size: 60px;
    font-family: 'Iceland', cursive;
    color: #192a56;
    padding: 5px;
    margin-left: -50px;
    list-style-type: none; 
}

.fortalezas {
    margin-top: 20px;
    float: left;
    font-size: 20px;
}

.debilidades {
    margin-top: 20px;
    float: right;
    font-size: 20px;
    margin-left: 50px;
}

.caracteristicas {
    font-family: 'Iceland', cursive;
    font-size: 40px;
    color: #192a56;
    padding: 5px;
}

.separador_header {
    border: solid;
    border-width: 20px;
}

li {
    display: list-item;
    margin-left: 10px;
    list-style-type: circle;
}

.caracteristicas {
    list-style-type: none;  
    margin-left: -50px;
    
}

.divisor {
    border: 2px solid  #192a56;
    width: 60%;
}


